# Eclipse / VSCode
.project
.settings
.classpath
/.vscode

# Idea
*.iml
/.idea

# Other
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

local.properties
*.key